$font-family: "Inter";
$blackColor: #000;
$whiteColor: #fff;
$lightGray: #868a94;
$darkGray: #17181a;
$lighterGray: #ccc;

$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "xlarge": 1400px,
);

// font size variables
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2.25rem; // 36px
$font-size-xxxl: 3rem; // 48px
$font-size-xxxxl: 3.75rem; // 60px

// Font size map for easy lookup and change
$font-sizes: (
  "xs": $font-size-xs,
  "sm": $font-size-sm,
  "md": $font-size-md,
  "lg": $font-size-lg,
  "xl": $font-size-xl,
  "xxl": $font-size-xxl,
  "xxxl": $font-size-xxxl,
  "xxxxl": $font-size-xxxxl,
);

// This Getter function declared for font sizes
@function get-font-size($size) {
  @return map-get($font-sizes, $size);
}
