$font-family: "Inter";
$blackColor: #000;
$whiteColor: #fff;
$lightGray: #868a94;
$darkGray: #17181a;
$lighterGray: #ccc;

$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "xlarge": 1200px,
);
